
.penetration-chart {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
}

@media (min-width: 768px) {
  .chart-container {
    width: 45%;
  }
}